/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #3D3D3D;
    --secondary-color: #FAF9F6;
    --color-two: #e7e7e755;
    --text-color: #0b0b0b;
    --base-color: #868686;
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Roboto Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-secondary);
    color: var(--text-color);
}

body {
   padding: 1em;
}

p {
    font-size: 1.25em;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav ul li:first-child {
    margin-right: auto;
    font-weight: bold;
    font-family: var(--font-secondary);
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 450;
}

nav a:hover {
    text-decoration: underline;
}

.header, .section, .footer {
    margin: 2em, auto;
    width: 100%;
    padding: min(2em, 15%);
    background-color: var(--color-one);
    border-radius: 1.5em;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.flex-container img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 1.5em;
    margin-bottom: 3em;
}

.text-container {
    flex: 0 1 34em;
}

.text-container p {
    margin: .75em 0 1em 0;
}

.cta-btn {
    display: inline-block;
    padding: .55em 1.5em;
    background-color: var(--base-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: 500;
    }

.secondary {
    background-color: var(--base-color);
}

.section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-two);
}

.section p {
    margin-top: 1em;
}

.pa-footer {
    font-weight: 800;
    padding: 1em auto 2em auto;
}
